@import url('https://fonts.googleapis.com/css2? family= Kaushan+Script & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,200;1,300 & display=swap');

html {
    scroll-behavior: smooth;
  }

/* Cores do site */
:root
    {
        --color-dark1: #181818;
        --color-dark2: #3d3d3d;
        --color-dark3: #383838;
        --color-dark4: #272727; 
        --color-dark5: #343434;
        --color-white: #ffffff;
        --color-red:   #750909;
        --color-black: #000000; 
    }
    /* Fim das Cores do site */

       /* Códigos do site por completo */
    *
    {   
        padding: 0;
        margin: 0;
    }

    body{
            background-color: var(--color-dark1);
            color: var(--color-white);           
    }

    h1
    {
         
        font-family: 'HIROMISAKE', sans-serif;
        font-weight: 300; 

    }
        /* Códigos do site por completo */

/*--------------------------------------------------------------------------------------------------------*/

    /* Inicio Do header */

    /* tag chamada "bodya", usada para configurar o header, sem compremeter o site. */
    .bodya
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .header,
    .navigation_header
    {
            display: flex;
            align-items: center;
            flex-direction: row;
        
    }

    .header
    {
            background-color: var(--color-black);
            box-shadow: 1px 1px 4px var(--color-dark4);
            height: 100px;
            justify-content: space-between;
            padding: 0 10%;
    }

    .logo img
    {
            width: 300px;
    }
    
    .navigation_header{
        gap: 3em;
        z-index: 2;     
    }

    .navigation_header a
    {
     text-decoration: none;
     color: var(--color-white);
     transition: 1s;
     font-size: 20px; 
     font-family: 'japa';
    }

    .navigation_header a:hover
    {
        color: rgb(214, 0, 0);
        transition: all 0.3s ease;
    }

    .navbar ul
    {
        list-style: none;
    }

    .navbar ul li
    {
        position: relative;
        float: left;
        background-color: #000000;
    }

    .navbar ul li a
    {
        font-size: 20px;
        padding: 20px;
        color: var(--color-white);
        display: block;
    }

    .navbar ul li a:hover
    {
       background-color: var(--color-red);
       color: var(--color-white);
       transition: all 0.9s ease;
    }

    .navbar ul li ul
    {
        position: absolute;
        left: 0;
        width: 200px;
        background-color: var(--color-white);
        display: none;
    }

    .navbar ul li ul li
    {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        scroll-behavior: smooth;
    }

    .navbar ul li ul li ul
    {
        left: 200px;
        top: 0;
    }

    .navbar ul li:focus-within > ul,
    .navbar ul li:hover > ul
    {
        display: initial;
    }
   
    .actvie
    {
        background-color: var(--color-dark3);
        padding: 10px;
        border-radius: 10px;
    }

    .content
    {
        text-align: center;
        padding-top: 5em;
        height: 100vh;
        transition: 1s;
    }

    .btn_icon_header{
        background-color: transparent;
        border: none;
        color: var(--color-white);
        cursor: pointer;
        display: none;
        width: 30px;
        height: 30px;
    }

    @media screen and (max-width: 825px)
    {
        .btn_icon_header{
            display: block;
        }
        .navigation_header{
            position: absolute;
            flex-direction: column;
            top: 0; 
            background-color: var(--color-dark5);
            height: 100%;
            width: 34vw;
            padding: 1em;
            animation-duration: 1s;
            margin-left: -100vw;
        }

        .logo
        {
            margin: 0 auto;
            top: 50px;
        }

        .navbar
        {
            top: 100%;
            left: 0;
            right: 0;
            background: var(--color-dark5);
            border-top: 1px solid rgb(272727);
        }

        .navbar ul li
        {
            width: 100%;
            background: var(--color-dark5);
        }

        .navbar ul li ul
        {
            position: relative;
            width: 100%;
        }

        .navbar ul li ul li 
        {
            background-color: var(--color-dark4);
            color: var(--color-white);
        }

        .navbar ul li ul li:hover
        {
            background-color:var(--color-red);
            color: var(--color-white);
        }


        .navbar ul li ul li ul 
        {
           width: 100%;
           left: 0; 
        }

    }

    @keyframes showSidebar 
    {
        from {margin-left: -100vw;}
        top {margin-left: -10vw;}
    }

     /* Fim Do header */

/*--------------------------------------------------------------------------------------------------------*/

/* Inicio dos Slides */

/* Div chamada "body2", usada para configurar os slides, sem compremeter o site. */
    .body2
  {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    
  }
  
.slider
{
    margin: 0 auto;
    width: 62vw;
    height: 34vw;
    overflow: hidden;
    border-radius: 10px;
    
}

.slides
{
    width: 400%;
    height: 34vw;
    display: flex; 
}

.slides input
{
    display: none;    
}

.slide
{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img
{
    width: 62vw;
    display: block;
    cursor: pointer;
}

.manual-navigation
{
    position: absolute;
    width: 56vw;
    margin-top: 25px;
    margin-left: 50px; 
    display: flex;
    justify-content: center;
}

.manual-btn
{
    border: solid #fff;
    padding: 5px;
    border-radius: 14px;
    transition: 1s;
    cursor: pointer;
    display: block;
}

.manual-btn:not(:last-child)
{
    margin-right: 40px;
}

.manual-btn:hover
{
    background-color: rgb(0, 85, 255);
}

#radio1:checked ~ .first
{
 margin-left: 0;
}

#radio2:checked ~ .first
{
    margin-left: -25%;
}

#radio3:checked ~ .first
{
    margin-left: -50%;
}

#radio4:checked ~ .first
{
    margin-left: -75%;
}

.navigation-auto div:not(:last-child)
{
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1
{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2
{
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3
{
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4
{
    background-color: #fff;
}

/* Fim dos Slides */

/*--------------------------------------------------------------------------------------------------------*/

 /* Inicio do botão scroll top */
#link-top
{
    position: fixed;
    background-color: #38322e;
    color: #520202;
    box-shadow:  rgba(0, 0, 0, 0.720);
    border-radius: 65px;
    cursor: pointer;
    right: 22px;
    width: 40px;
    height: 40px;
    color: #520202;
    bottom: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 999;
    }
   
    :target
    {
        scroll-margin-top:120px
    }

    /* Fim do Botão scroll top */

/*--------------------------------------------------------------------------------------------------------*/

    /* Inicio do botão do whatsapp */

    .pulsar
    {
        position: fixed;
        background-color: #10440b;
        box-shadow:  rgba(0, 0, 0, 0.720);
        border-radius: 65px;
        cursor: pointer;
        left: 22px;
        width: 40px;
        height: 40px;
        color: #2a8435;
        bottom: 14px;
        justify-content: center;
        align-items: center;
        display: flex;
        content: normal;
        z-index: 999;
    }

    .pulsar img 
    {
        width: 30px;
        height: 30px;
    }

    .pulsar::before, .pulsar a::after
    {
        content:'';
        display: block;
        position: absolute;
        left: -20px;
        right: -20px;
        top:-20px;
        bottom: -20px;
        border-radius: 50%;
        border: 2px solid #2a8435;
        animation: animar 1.5s linear infinite;
        opacity: 0;

    }

    .pulsar::after
    {
        animation-delay: .5s;
    }

    @keyframes animar
    {
        0%
        {
            transform: scale(0.5);
            opacity: 0;
        }

        50%
        {
            opacity: 1;
        }

        100%
        {
            opacity: 0;
        }
    }

        /* Fim do botão do whatsapp */

/*--------------------------------------------------------------------------------------------------------*/

        /* Codigos das imagens do cardapio */
    .car1 img
    {
        width: 16vw;
        border-radius: 20px;
        align-items: center;
        margin-top:-10px;
        justify-content: center;
        cursor: pointer;

    }

    .car2 img
    {
        width: 16vw;
        border-radius: 20px;
        margin-top:-10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .car3 img
    {
        width: 16vw;
        border-radius: 20px;
        margin-top:-10px;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }

    .car1{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-family: 'HIRO', cursive;
        font-size: 30px; 
        padding: 8vw;
        text-align: center;
    }
 
    .car2{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-family: 'HIRO', cursive;
        font-size: 30px;
        padding: 8vw;
        text-align: center;     
    }

    .car3{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-family: 'HIRO', cursive;
        font-size: 30px;
        padding: 8vw;
        text-align: center;
    }

    /* Fim dos codigos, das imagens do cardapio */

    /*--------------------------------------------------------------------------------------------------------*/

    /* Inicio Texto e fonte usados para o texto do cardapio */

    /* A tag "Texto" é utilizada para, se referir as separações de comidas */

    @font-face {
        font-family:'HIROMISAKE';
        src: url('HIROMISAKE.ttf') format(truetype);
       
    }

    @font-face {
        font-family: 'HIRO';
        src: url('Hogback\ Demo\ Version.otf') format(opentype);
    }

    @font-face
    { 
        font-family: 'Japa';
        src: url('Japan wave.ttf') format(truetype);
    }

    .Texto
    {
        text-align: center;
        background-color: var(--color-black);
        height: 4vw;
        justify-content: space-between;
        padding: 0 10%;
    }

    .Texto a 
    {
        font-family: 'HIROMISAKE';
        font-weight: normal;
        font-size:4vw;  
        color: var(--color-white);      
        text-align: center;
        align-items: center;
    }

    /* Fim Texto e fonte usados para o texto do cardapio */

    /* Footer */

    .Local_1
    {
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-family: 'HIRO', cursive;
        font-size: 30px;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        overflow: hidden;
        padding: 0 50px;
    }

    .Local_1 img
    {
        width: 26vw;
        height: 13vw;
        max-height: 100%;
        border-radius: 10px ;
    }
    .Local_1:hover img
    {
        -moz-transition: scale(1.1);
        transition: scale(1.1);
        transform: scale(1.1);      
        border-radius: 20px;
        transition: 1s;
    }
    .text_Local 
    {
        height: 5vw;
        position: relative;
        width: 100%;
        background-color: #ffffff;
        text-align: center ;
        align-items: center;
        z-index: 1;
    }

    .text_Local a 
    {
        font-family: 'japa';
        font-weight: normal;
        font-size:4vw;  
        color: rgb(15, 6, 6); 
        
    }

    .mapa{
        position: relative;
        margin-right: 50px;
    }
    .nomelocal{
         text-align: center;
        font-family: 'HIRO', cursive;
    }
    .nomelocal a{
        font-size: 28px;
        text-decoration: none;
        color: var(--color-white);
    }
    .nomelocal a:hover{
        color:rgb(138, 2, 2);
        text-decoration: none;
        transition: 0.7s ease;
    }

    /*  FOOTER  */
    footer{
        background-color: var(--color-dark2);
        padding: 0 4%;
        margin: auto;
        font-family: 'HIROMISAKE';
    }

    .container-footer{
        max-width: 1400px;
        padding: 0 4%;
        margin:auto;
        padding: 0.5rem 0.5rem;
    }

    .row-footer
    {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-col
    {
        width: 25%;
        padding: 0 15px;
        margin-bottom: 50px;
    }

    .footer-col h2
    {
        font-size: 22px;
        color: var(--color-white);
        margin-bottom: 20px ;
        font-weight: 500;
        position: relative;
        text-decoration: uppercase;
        
    }

    .footer-col ul
    {
        list-style: none;
    }

    .footer-col ul li
    {
        margin: 10px 0; 
    }

    .footer-col ul li a
    {
        font-size: 16px;
        text-transform: capitalize;
        color: var(--color-white);
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
    }

    .footer-col ul li a:hover
    {
        color: rgb(167, 49, 49);
        padding-left: 10px;
    }

    .footer-col .medias-sociais
    {
        margin-top: 30px;
    }

    .footer-col .medias-sociais a
    {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 10px 0;  
    }

    .medias-sociais a
    {
        display: inline-flex;
        text-decoration: none;
        height:40px;
        width: 40px;
        padding: 3px;
        white-space: nowrap;
    }


    .footer-col .medias-sociais a img
    {
        font-size: 20px; 
      
    }
    
    .footer-col .medias-sociais a:hover
    {
        color: red;
        background-color: var(--color-white);
    }


    /* Responsividade */

    @media screen and (max-width: 825px) {
        .car1{
            flex-direction: column;
        }
        .car1 img 
        {
            width: 50vw;
            padding: 10px;
        }
    }
    @media screen and (max-width: 825px) {
        .car2{
            flex-direction: column;
        }
        .car2 img 
        {
            width: 50vw;
            padding: 10px;
        }
    
    }
    @media screen and (max-width: 825px) {
        .car3{
            flex-direction: column;
        }
        .car3 img 
        {
            width: 50vw;
            padding: 10px;
        }
    
    }

    @media screen and (max-width: 825px) {
        .Local_1{
            flex-direction: column;
        }

        .Local_1 img 
        {
            width: 40vw;
            height: 20vw;
            margin: auto;
            display: flex;
            padding: 10px;
            border-radius: 20px;
        }

        .nomelocal a
        {
            font-size: 25px;
        }
    }
    
    @media screen and (max-width: 825px) {
        .body2{
            display: none;    
        }
     
    }

    @media screen and (max-width: 849px){
        .medias-sociais a
        {
            display: flex; 
            width: auto;

        }
    }

    @media (max-width:825px) {
        .footer-col
        {
            width: 25%;
            margin-bottom: 30px;
        }
    }

    @media (max-width:625px) {
        .footer-col
        {
            width: 40%;
        }

        .medias-sociais 
        {
            padding: 1rem 1rem;
            display: flex;
        }
    }

    @media (max-width: 200px){
       .btn_icon_header
        {
            width: 30px;
            display: block;
        }
    }

    @media (max-width: 400px){
        .logo img
        {
            width:250px;
            align-items: center;           
        }      
    }